%tr
  %th{scope: :row, class: style_table_cell(2)}= list.id
  %td{class: style_table_cell(2)}
    = link_to t("contact_lists.show.#{list.status}"), list
  %td{class: style_table_cell(2)}
    = link_to t("contact_lists.show.download"), rails_blob_path(list.contacts_file, disposition: "attachment")
