%h1 #{@contact_list.model_name.human} ##{@contact_list.id}

- if @contact_list.on_hold?
  %p
    %span.iconify.animate-spin.inline{ "data-icon": "gg:spinner", "data-inline": false }
    %span= t(".come_back_later")
