- uuid = dom_uuid("#{t(:site_name)} ~ Logo Scalable Icon")

- cache(uuid) do
  .logo-icon.absolute.h-6.inset-0{data: {"turbo-permanent": true}, id: uuid}
    .text-2xl.text-primary-600
      %span.iconify{"data-icon": "ri:contacts-book-upload-fill", "data-inline": false}
