- uid = dom_uid("#{t(:site_name)} ~ Logo Scalable Icon", I18n.locale)

- cache(uid) do
  .logo-icon.absolute.h-6.inset-0{data: {"turbo-permanent": true}, id: uid}
    .text-2xl.text-primary-600
      %span.iconify{"data-icon": "gg:user-list", "data-inline": false}
